%h1
  Slots overview for week starting #{@date}

%div
  = link_to "Previous Week", slots_path(date: @date - 1.week)
  |
  \#{link_to "Next Week", slots_path(date: @date + 1.week)}

%hr/

%table
  %thead
    %tr
      %th
        Hour
      - [*@date.beginning_of_week..@date.end_of_week].each do |date|
        %th= date
  %tbody
    - [*Order::FIRST_DELIVERY_HOUR..Order::LAST_DELIVERY_HOUR].each do |hour|
      %tr
        %th= hour
        - [*@date.beginning_of_week..@date.end_of_week].each do |date|
          %td
            - Order.to_prepare(date.to_datetime.change(hour: hour - 1)).map { |order| [order.product.id,
              order.product.name] }.sort { |a, b| a[1] <=> b[1] }.uniq.each do |products|
              = "#{Product.find(products[0]).name}"
              = "#{Order.to_prepare(date.to_datetime.change(hour: hour - 1)).by_product(products[0]).length}"
              %br
