%p#notice= notice

%h1
  Orders for #{@date}

%div
  = link_to "Previous Date", orders_path(date: @date - 1.day)
  |
  = link_to "Next Date", orders_path(date: @date + 1.day)

%hr/

- if @orders.any?
  %table
    %thead
      %tr
        %th Delivery time
        %th Status
        %th Customer
        %th Product
        %th Price
        %th
    %tbody
      - @orders.each do |order|
        %tr
          %td= order.delivery_time
          %td= order.status
          %td= order.customer.name
          %td= order.product_name
          %td= number_to_currency order.product.price
          %td= link_to 'Show', order
- else
  %h4 No orders for this day
