%p#notice= notice

%p
  %strong Delivery time:
  = @order.delivery_time

%p
  %strong Status:
  = @order.status

%p
  %strong Product:
  = @order.product_name

%p
  %strong Customer:
  = @order.customer.name

%p
  %strong Address:
  = @order.customer.address

= link_to 'Back', orders_path(date: @order.delivery_time.to_date)

